* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* produto  */
  --brand-color: #ef5f4c;
  /* shape  */
  --background-color: #ffffff;
  --surface-color: #f5f5f5;
  --skeleton-color: #d9d9d9;
  --shape-transparency: hsla(0, 0%, 100%, 0.562);
  /* text  */
  --text-color-primary: #313131;
  --text-color-secondary: #6c6c6c;
  /* fonts  */
  --font-family: "Alice", sans-serif;
  --text-lg: bold 32px/125% var(--font-family);
  --text: 16px/150% var(--font-family);
  --text-md: 14px/175% var(--font-family);
  --text-sm: 12px/170% var(--font-family);
}

body {
  font: var(--text);
  color: var(--text-color-secondary);
  background-color: var(--background-color);
}
a {
  color: inherit;
}
a:hover {
  color: var(--brand-color);
}

.container {
    padding: 32px;
    max-width: 1280px;
    margin-inline: auto;

}
.bg-surface-color {
    background-color: var(--surface-color);
    

}