* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
/* produto  */
    --brand-color: #EF5F4C;
/* shape  */
    --background-color: #FFFFFF;
    --surface-color: #F5F5F5;
    --skeleton-color: #D9D9D9;
    --shape-transparency: hsla(0, 0%, 100%, 0.562);
/* text  */
     --text-color-primary: #313131;
     --text-color-secondary: #6C6C6C;
/* fonts  */
    --font-family: "Alice", sans-serif;
    --text-lg: bold 32px/125% var(--font-family);
    --text: 16px/150% var(--font-family);
    --text-md: 14px/175% var(--font-family);
    --text-sm: 12px/170% var(--font-family);
}

body {
    font: var(--text);
    color: var(--text-color-secondary);
    background-color: var(--background-color)

}